body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

#container {
  width: 800px;
  margin: auto;
}

.center {
  text-align: center;
}

ul {
  font-size: 20px;
  line-height: 35px;
  padding: 0;
}

form {
  font-size: 18px;
}

#bored-button {
  border-radius: 8px;
  padding: 30px;
  font-size: 30px;
  border: none;
  color: white;
  background-color: orange;
  cursor: pointer;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

li {
  list-style-type: none;
}

#red-text {
  color: red;
}

#blue-text {
  color: blue;
}

.title-large {
  font-size: 48px;
  font-weight: bold;
}

.title-small {
  font-size: 24px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.warning {
  color: orangered;
}

.card {
  padding: 16px 48px;
  margin: 48px auto;
  border: 1px solid #ddd;
  box-shadow: 4px 10px 44px -22px rgba(133, 133, 133, 1);
  border-radius: 8px;
  max-width: 60%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-buttons {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#like-button {
  border-radius: 8px;
  padding: 12px;
  font-size: 24px;
  border: none;
  color: white;
  background-color: #4cbb17;
  cursor: pointer;
}

#nope-button {
  border-radius: 8px;
  padding: 12px;
  font-size: 24px;
  border: none;
  color: white;
  background-color: #ff5733;
  cursor: pointer;
}

.delete-button {
  margin-top: 16px;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

#type {
  text-transform: capitalize;
}

#placeholder-card {
  display: none;
}
